doctype html
html(lang="ru")
  include ../partials/head.pug
  body
    .wrapper
      include ../partials/header.pug
      main
        block content
      include ../partials/footer.pug
      include ../partials/scripts.pug
