.comments__footer.comments__footer--user
  form(action=`/articles/${article.id}/comments/` method='POST')
    input(type="hidden" name="_csrf" value=csrfToken)
    .comments__avatar.avatar
      img(src=`/img/${user.avatar}` alt='аватар пользователя')
    label
      textarea(rows='1' name='comment' placeholder='Присоединиться к обсуждению')
    button.comments__button.button.button--colored(type='submit') Опубликовать
  +insertErrorMessage(validationMessages)